In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
%config Completer.use_jedi = False

In [3]:
train_data = pd.read_csv('/kaggle/input/titanic/train.csv')

train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head()

test_ids = test_data["PassengerId"]

In [5]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)



print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [6]:
from sklearn.impute import SimpleImputer
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
from sklearn.model_selection import train_test_split

test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
train_data = pd.read_csv('/kaggle/input/titanic/train.csv')

#function to clean the data 
# easy for train test split

def clean(data):
    data = data.drop(['Ticket','PassengerId', "Name"], axis =1)
    
    
    # fill list of cols with the median value
    cols= ["SibSp", "Parch", "Fare", "Age"]
    for col in cols:
        data[col].fillna(data[col].median(), inplace=True)
        
    #fill Embarked with U for Unknown    
    data.Embarked.fillna('U', inplace=True)
    
    #fill Cabin with U for Unknown    
    data.Cabin.fillna('U', inplace=True)
    data['Cabin'] = train_data['Cabin'].astype(str).str[0]
    
    
    #map string columns
    
    cols_to_map = ['Sex', 'Embarked', 'Cabin']
    for col in cols_to_map:
        data[col] = le.fit_transform(data[col])
        
           
    return data

train_data = clean(train_data)
test_data = clean(test_data)




y = train_data["Survived"]
X = train_data.drop("Survived", axis=1)

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = .3, random_state = 42)

In [7]:
from sklearn import tree

clf2 = tree.DecisionTreeClassifier()

clf2 = clf2.fit(X_train, y_train)



from sklearn.metrics import accuracy_score

prediction = clf2.predict(X_val)

accuracy_score(y_val, prediction)

0.7574626865671642

In [8]:
prediction = clf2.predict(test_data)

In [9]:
submission = pd.DataFrame({
                            'PassengerId': test_ids.values,
                            'Survived': prediction})

submission.to_csv('titanic_using_DTC3.csv', index=False)

In [10]:
train_data.head()

# train_data.Cabin.fillna('U', inplace=True)
# train_data['Cabin'] = train_data['Cabin'].astype(str).str[0]
# train_data.Cabin.unique

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0         0       3    1  22.0      1      0   7.2500      8         2
1         1       1    0  38.0      1      0  71.2833      2         0
2         1       3    0  26.0      0      0   7.9250      8         2
3         1       1    0  35.0      1      0  53.1000      2         2
4         0       3    1  35.0      0      0   8.0500      8         2

In [11]:
# reload csv

train_data = pd.read_csv('/kaggle/input/titanic/train.csv')

test_data = pd.read_csv("/kaggle/input/titanic/test.csv")


test_ids = test_data["PassengerId"]



from sklearn import preprocessing
le = preprocessing.LabelEncoder()


#function to clean the data 
# easy for train test split

def clean(data):
    data = data.drop(['Ticket','PassengerId', "Name"], axis =1)
    
    
    # fill list of cols with the median value
    cols= ["SibSp", "Parch", "Fare", "Age"]
    for col in cols:
        data[col].fillna(data[col].median(), inplace=True)
        
    #fill Embarked with U for Unknown    
    data.Embarked.fillna('U', inplace=True)
    
    #fill Cabin with U for Unknown    
    data.Cabin.fillna('U', inplace=True)
    data['Cabin'] = train_data['Cabin'].astype(str).str[0]
    
    
    #map string columns
    
    cols_to_map = ['Sex', 'Embarked', 'Cabin']
    for col in cols_to_map:
        data[col] = le.fit_transform(data[col])
        
           
    return data

train_data = clean(train_data)
test_data = clean(test_data)

In [12]:
train_data.head(5)

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0         0       3    1  22.0      1      0   7.2500      8         2
1         1       1    0  38.0      1      0  71.2833      2         0
2         1       3    0  26.0      0      0   7.9250      8         2
3         1       1    0  35.0      1      0  53.1000      2         2
4         0       3    1  35.0      0      0   8.0500      8         2

In [13]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split


y = train_data["Survived"]
X = train_data.drop("Survived", axis=1)

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = .2, random_state = 42)

In [14]:
clf = LogisticRegression(random_state=0, max_iter = 1000).fit(X_train,y_train)

In [15]:
from sklearn.metrics import accuracy_score

predictions = clf.predict(X_val)

accuracy_score(y_val, predictions)

0.8212290502793296

In [16]:
# Predict the test data

submissions_preds = clf.predict(test_data)

In [17]:

# making the submissions data frame

df = pd.DataFrame({'PassengerId':test_ids.values,
                 "Survived":submissions_preds})

In [18]:
# df.to_csv("submissionsSE.csv", index = False)